.root {
    -fx-font-family: SansSerif;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


/*TAB PANES*/
.tab-pane > .tab-header-area {
    -fx-padding: 0 0 4 20;
    -fx-max-height: 48px;
    -fx-min-height: 48px;
    -fx-pref-height: 48px;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #C4C4C4;
}

.tab-content-area {
    -fx-background-color: white;
}

.tab {
    -fx-background-color: #528BFF;
}

.tab:selected {
    -fx-background-color: #ffffff;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab:selected .tab-label {
    -fx-text-fill: #528BFF;
}


/*BUTTON*/
.button {
    -fx-background-color: #528BFF;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-font-weight: bold;
}

/*TODOO BUTTON*/
.todoButton {
    -fx-padding: 0;
}

/*DELETE BUTTON*/

.deleteButton {
    -fx-border-width: 1;
    -fx-border-color: #DD0033;
    -fx-background-color: #ffffff;
    -fx-text-fill: #DD0033;
    -fx-font-weight: normal;
    -fx-padding: 0;
}

/*TAG BUTTON*/
.tagButton {
    -fx-background-color: #ffffff;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #C4C4C4;
    -fx-pref-width: 195px;
    -fx-pref-height: 47px;
}

.tagButton:hover {
    -fx-text-fill: #528BFF;
}

.tagButton:selected {
    -fx-text-fill: #528BFF;
}

.menu-button {
    -fx-background-color: #528BFF;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-font-weight: bold;
    -fx-border-width: 0;
}


.text-field {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.tagInput {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #C4C4C4;
}


/*SPLIT PLANE*/
.split-pane > .split-pane-divider {
    -fx-padding: 0 0 0 1;
    -fx-background-color: #C4C4C4;
}

/* LIST VIEW */

.list-view {
    -fx-background-insets: 0;
}

.list-cell:even, .list-cell:odd {
    -fx-background-color: white;
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #C4C4C4;
    -fx-end-margin: 8px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-text-fill: #528BFF;
}

/*HBOX*/
.hbox {
    -fx-background-color: #C4C4C4;
    -fx-spacing: 1px;
    -fx-padding: 0 0 2 0;
}

.todoHbox {
    -fx-background-color: #ffffff;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #C4C4C4;
}

.vbox {
    -fx-background-color: #fff;
}

/*SCROLL BAR*/
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}


.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    /*-fx-padding :0.;*/
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#4D4C4F, 10.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

/* CHECK BOX*/
.check-box .box {
    -fx-background-color: white;
    -fx-border-color: #C4C4C4;
    -fx-border-radius: 100%;
}

.check-box:selected .mark {

    -fx-background-color: black;

}

/* COMBO BOX*/
.combo-box {
    -fx-background-color: #528BFF;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-font-weight: bold;
}

.combo-box .list-cell
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 0 0 0 10;
}
